<span class="user-status user-status--online">
    <a href="{{ baseUrl }}/online.php" title="{{ lang.myShowcaseCommentOnlineStatusOnline }}" class="user-status__link">
        {{ include('partials/icon.twig', {icon: 'dot-circle', class: 'user-status__icon', title: lang.myShowcaseCommentOnlineStatusOnline}, with_context = false) }}
    </a>
</span>