<span class="user-status user-status--offline">
    {{ include('partials/icon.twig', {icon: 'dot-circle', class: 'user-status__icon', title: lang.myShowcaseCommentOnlineStatusOffline}, with_context = false) }}
</span>