{# TO DO : CLEAN UP EDITED MESSAGE #}
<a href="#" class="post__edit-log" title="" id="edited_by_{{ commentSlug }}">{{ include('partials/icon.twig', {icon:
    'pencil-alt', class: ''}, with_context = false) }}</a>
<span class="edited_post"
      style="display: none;">({{ myShowcaseEntryEditedBy|raw }} {{ editUserProfileLink|raw }}.)</span>
