<span class="user-status user-status--away">
    <a href="{{ userProfileLinkPlain|raw }}" title="{{ lang.myShowcaseCommentOnlineStatusAway }}"
       class="user-status__link">
        {{ include('partials/icon.twig', {icon: 'dot-circle', class: 'user-status__icon', title: lang.myShowcaseCommentOnlineStatusAway}, with_context = false) }}
    </a>
</span>