<a href="{{ baseUrl }}/private.php?action=send&amp;uid={{ userID }}"
   title="{{ lang.myShowcaseCommentButtonPrivateMessageDescription }}"
   class="postbit_pm"><span>{{ lang.myShowcaseCommentButtonPrivateMessage }}</span></a>